/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

#logo {
    height: 80px;
}

* { font-family: Montserrat }

.mainpage {
    display: grid;
    grid-template-columns: 45% 25% 30%;
    grid-template-rows: 1 1;
}

.indexarticle {
    grid-column: 1/2;
}

.secondaryarticles {
    grid-column: 2/3;
}

.otherarticles {
    grid-column: 1/4;
    grid-row: 2/3;

}

.externalarticles {
    grid-column: 3/4;
    grid-row: 1/2;
}

.titel {
    text-decoration: none;
    color: black;
    font-size: 120%;
    letter-spacing: 2px;
}

.titel:hover {
    color: red;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.box-one {
    grid-column: 1/2;
}

.box-two {
    grid-column: 3/4;
}

.show {
    grid-column-start: 2/3;
}

.back {
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: none;
}